---
import { SITE_TITLE } from '../consts';
---

<header>
  <div class="header-inner">
    <a href="/" class="logo">
      <span>~/</span>andres-rios
    </a>

    <nav>
      <a href="/">Inicio</a>
      <a href="/about">Sobre mí</a>
      <a href="/blog">Blog</a>
      <!-- para la futura pagina de proyectos -->
      <!-- <a href="/projects">Proyectos</a> -->
    </nav>
  </div>
</header>